﻿@model FruitCorp.Web.Models.Pages.ImageWithTxtOnRight


    <div class=" col-md-4 col-sm-6 col-xs-12">
    @Html.PropertyFor(x => x.Image)
</div>
    <div class=" col-md-8 col-sm-6 col-xs-12">
    @Html.PropertyFor(x => x.MainBody)
</div>


