﻿@using EPiServer.Framework.Web.Resources
@model FruitCorp.Web.Models.Pages.VideoFullWidth
@{
    //The video element's ID needs to be unique in order for several video blocks and possible the same video block, to work on the same page
    var containerId = "video-container-" + Guid.NewGuid().GetHashCode();
}

            <video width="100%" controls>
                <source src="~/Static/jwplayer/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>


    <!--<script type="text/javascript">
        
        jwplayer('@containerId').setup({
            'file': "D:\jaydeep_work\Morrisons\R&D\FruitCorp\FruitCorp.Web\Static\jwplayer\video.mp4",
            'image': "D:\jaydeep_work\Morrisons\R&D\FruitCorp\FruitCorp.Web\Static\jwplayer\preview.jpg",
            'type': 'video',
            'width': '100%',
            'height': '100%',
            'modes': [
                { type: 'html5' },
                { type: 'flash', src: "/Static/jwplayer/player.swf" }
            ]
        });
        jwplayer('@containerId').play();
        jwplayer('@containerId').pause();
    </script>-->
</div>



