﻿@model FruitCorp.Web.Models.Pages.TwoImagesSideBySide

<div class="col-md-6 col-sm-6 col-xs-12">
    @Html.PropertyFor(x => x.FirstImage)
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
    @Html.PropertyFor(x => x.SecondImage)
</div>
