﻿@model FruitCorp.Web.Models.Pages.StandardPage


        <h1>@Html.PropertyFor(x => x.PageName)</h1>
        <p class="lead">
            @Html.PropertyFor(x => x.MainIntro)
        </p>
        @Html.PropertyFor(x => x.MainBody)
        @Html.PropertyFor(x => x.MainContentArea)
    