﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet">
   <script language="javascript" src="~/Static/jwplayer/jwplayer.js"></script>
    <title>_Root</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"><h3 class="muted">Jaydeep</h3></div>
        </div>
        @{ Html.RenderMainNavigation(); }
        @RenderBody()
    </div>
</body>
</html>
