﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="row">
    <!--<div class="col-md-3">
        <div class="sub-navigation">-->
            @{ Html.RenderSubNavigation();}
        <!--</div>
    </div>
    <div class="col-md-6">-->
    
    <div class="col-md-12">
        <!--<div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">-->
            @RenderBody()
        <!--</div>-->
    </div> 
    <!--</div>
    <div class="col-md-3"></div>-->
</div>